# Transpose Tf_aveolar_bone_resporption.xlsx
Run notebook to transpose data in `Tf_aveolar_bone_resporption.xlsx`

In [1]:
import pandas as pd
import numpy as np

In [2]:
org_df = pd.read_excel('../data/Tf_aveolar_bone_resporption.xlsx')
org_df.head()

,Name,1,2,3,4,5,6,7,8,cohort
0,Mandible Lingual,0.25,0.32,0.28,0.25,0.36,0.30,0.34,0.34,tf_8_weeks
1,Maxilla Buccal,0.10,0.10,0.17,0.16,0.14,0.10,0.12,0.12,tf_8_weeks
2,Maxilla Palatal,0.26,0.38,0.30,0.27,0.27,0.28,0.23,NaN,tf_8_weeks
3,Mandible Lingual,0.28,0.25,0.14,0.23,0.19,0.12,0.23,0.19,sham_8_weeks
4,Maxilla Buccal,0.09,0.08,0.06,0.11,0.09,0.10,NaN,NaN,sham_8_weeks

In [3]:
def transpose_df(idx, df):
    def create_cohort_key(cohorts, mouse_numbers):
        cohort_keys = [
            c + '_' + str(n)
            for c,n in zip(cohorts, mouse_numbers)
        ]
        return cohort_keys
        
    cohort = idx # save cohort name
    df = df.iloc[:, :-1] # drop cohort column
    tx_df = df.transpose() # flip df
    tx_df = tx_df.rename(columns=tx_df.iloc[0]).iloc[1:] # set colums to first row
    
    # add cohort name
    tx_df.insert(0, 'cohort', cohort) # add back cohort name column
    cohort_keys = create_cohort_key(tx_df.cohort, tx_df.index)
    tx_df.insert(0, 'cohort_key', cohort_keys)
    
    # set index and insert sex
    tx_df.index.name = 'Name'
    tx_df.insert(2, 'female', np.where(tx_df.index < 5, 0, 1))
    
    return tx_df

In [4]:
dfs = [transpose_df(idx, df) for idx, df in org_df.groupby('cohort')]
dfs[3]

,cohort_key,cohort,female,Mandible Lingual,Maxilla Buccal,Maxilla Palatal
Name,,,,,,
1,tf_8_weeks_1,tf_8_weeks,0,0.25,0.1,0.26
2,tf_8_weeks_2,tf_8_weeks,0,0.32,0.1,0.38
3,tf_8_weeks_3,tf_8_weeks,0,0.28,0.17,0.3
4,tf_8_weeks_4,tf_8_weeks,0,0.25,0.16,0.27
5,tf_8_weeks_5,tf_8_weeks,1,0.36,0.14,0.27
6,tf_8_weeks_6,tf_8_weeks,1,0.3,0.1,0.28
7,tf_8_weeks_7,tf_8_weeks,1,0.34,0.12,0.23
8,tf_8_weeks_8,tf_8_weeks,1,0.34,0.12,NaN

In [5]:
len(dfs)

4

### concat to dfs datafames together, reorder cols, and sort

In [6]:
final_df = pd.concat(dfs, ignore_index=False).reset_index() # concat, note use of ignore_index=False
final_df.Name = final_df.Name.astype(str) # make name col a str
final_df.head()

,Name,cohort_key,cohort,female,Mandible Lingual,Maxilla Buccal,Maxilla Palatal
0,1,sham_16_weeks_1,sham_16_weeks,0,0.23,0.14,0.23
1,2,sham_16_weeks_2,sham_16_weeks,0,0.22,0.11,0.16
2,3,sham_16_weeks_3,sham_16_weeks,0,0.19,0.07,0.22
3,4,sham_16_weeks_4,sham_16_weeks,0,0.28,0.08,0.21
4,5,sham_16_weeks_5,sham_16_weeks,1,0.28,0.11,0.17

In [7]:
final_df = final_df[['cohort_key', 'cohort','Name', 'female', 'Mandible Lingual', 'Maxilla Buccal', 'Maxilla Palatal']] # reorder cols
final_df.sort_values(by=['cohort', 'Name'], ascending=[False, True], inplace=True) # sort values
final_df

,cohort_key,cohort,Name,female,Mandible Lingual,Maxilla Buccal,Maxilla Palatal
24,tf_8_weeks_1,tf_8_weeks,1,0,0.25,0.1,0.26
25,tf_8_weeks_2,tf_8_weeks,2,0,0.32,0.1,0.38
26,tf_8_weeks_3,tf_8_weeks,3,0,0.28,0.17,0.3
27,tf_8_weeks_4,tf_8_weeks,4,0,0.25,0.16,0.27
28,tf_8_weeks_5,tf_8_weeks,5,1,0.36,0.14,0.27
29,tf_8_weeks_6,tf_8_weeks,6,1,0.3,0.1,0.28
30,tf_8_weeks_7,tf_8_weeks,7,1,0.34,0.12,0.23
31,tf_8_weeks_8,tf_8_weeks,8,1,0.34,0.12,NaN
16,tf_16_weeks_1,tf_16_weeks,1,0,0.37,0.15,0.34
17,tf_16_weeks_2,tf_16_weeks,2,0,0.29,0.14,0.34
18,tf_16_weeks_3,tf_16_weeks,3,0,0.27,0.15,0.32
19,tf_16_weeks_4,tf_16_weeks,4,0,0.29,0.23,0.22
20,tf_16_weeks_5,tf_16_weeks,5,1,0.31,0.11,0.32
21,tf_16_weeks_6,tf_16_weeks,6,1,0.3,0.12,0.29
22,tf_16_weeks_7,tf_16_weeks,7,1,0.35,0.16,0.27
23,tf_16_weeks_8,tf_16_weeks,8,1,NaN,0.27,0.48
8,sham_8_weeks_1,sham_8_weeks,1,0,0.28,0.09,0.16
9,sham_8_weeks_2,sham_8_weeks,2,0,0.25,0.08,0.21
10,sham_8_weeks_3,sham_8_weeks,3,0,0.14,0.06,0.28
11,sham_8_weeks_4,sham_8_weeks,4,0,0.23,0.11,0.23
12,sham_8_weeks_5,sham_8_weeks,5,1,0.19,0.09,0.27
13,sham_8_weeks_6,sham_8_weeks,6,1,0.12,0.1,0.3
14,sham_8_weeks_7,sham_8_weeks,7,1,0.23,NaN,NaN
15,sham_8_weeks_8,sham_8_weeks,8,1,0.19,NaN,NaN
0,sham_16_weeks_1,sham_16_weeks,1,0,0.23,0.14,0.23
1,sham_16_weeks_2,sham_16_weeks,2,0,0.22,0.11,0.16
2,sham_16_weeks_3,sham_16_weeks,3,0,0.19,0.07,0.22
3,sham_16_weeks_4,sham_16_weeks,4,0,0.28,0.08,0.21
4,sham_16_weeks_5,sham_16_weeks,5,1,0.28,0.11,0.17
5,sham_16_weeks_6,sham_16_weeks,6,1,0.19,0.12,0.15
6,sham_16_weeks_7,sham_16_weeks,7,1,0.25,0.1,0.13
7,sham_16_weeks_8,sham_16_weeks,8,1,NaN,NaN,NaN

In [8]:
final_df.to_excel('../data/transposed_Tf_aveolar_bone_resporption.xlsx', index=False, engine='openpyxl')